/* components/Header.module.css */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo span {
    color: #000;
  }
  
  .menu {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .searchInput {
    width: 300px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .signInButton {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  